.vscode/**
node_modules/**
out/**
src/**
esbuild.js
**/*.map
webview-ui/**
scripts/**
docs/**
test/**
.git/**
.gitignore
.github/**
*.md
!README.md
!CHANGELOG.md
tsconfig.json
vscode.proposed.*
.DS_Store
*.log
